<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_items_before">
        <observer name="hackathon_orderitemcomments_controller_front_send_response_before" instance="Hackathon\OrderItemComments\Observers\SaveComments" />
    </event>
</config>